<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="assets/img/favicon32x32.png">
		<title>FansnHumans</title>
		<meta charset="utf-8">
		<meta name="description" content="165c. uniques">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- main css and js -->
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

<body>

	

	<div id="page">
		<!-- Nav. principale de la page -->
		<nav>
			{% include "nav.twig" %}
		</nav>

		<!-- Entete de la zone consideree -->
		<header>
			{% include "header.twig" %}
			
		</header>

		<!-- Les e-cotes de la page -->
		<aside>
			aside
		</aside>

		<!-- Contenu textuel de la page -->
		<section>
			{% include monPHP ~ ".twig" %}
			<hr>
			{{ LANG.all.site_name }}
			<hr>
			{{ LANG.accueil.title }}
			<hr>
		</section>

		<!-- Pied-de-page de la page -->
		<footer>
			{% include "footer.twig" %}
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

